html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
    background-color: #673147;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.nav-item {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

li {
    font-family: Free Mono, monospace;
    color: white;
}

#active {
    font-family: 'Courier New', Courier, monospace;
    color: #CB90A8;
}

.footer {
    font-family: Free Mono, monospace;
    background-color: #673147;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

#homepage_heading {
    text-align: center; 
    margin-top: 20px;
    font-family: 'Courier New', 
    Courier, monospace;
    color: #673147;
}

#canvas {
    border: 1px solid #673147;
}

.homepage_predict_button {
    text-align: center; 
    margin-top: 20px;
}

#predict-button {
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    background-color: #673147;
    color: white;
}

.prediction {
    text-align: center; 
    margin-top: 20px;
    font-family: Free Mono, monospace;
    color: #673147;
}

.confidence {
    text-align: center; 
    margin-top: 10px;
    font-family: Free Mono, monospace;
    color: #673147;
}

#submit-feedback {
    padding: 10px 20px;
    font-size: 16px; 
    font-family: 'Courier New', Courier, monospace;
    background-color: #673147;
    color: white;
}

#reset-section {
    text-align: center; 
    margin-top: 10px;
}

#reset-button {
    padding: 5px 15px; 
    font-size: 14px; 
    font-family:'Courier New', Courier, monospace;
    background-color: #673147;
    color: white;
}

.info {
    font-family: Free Mono, monospace;
    color: #673147;
}

#statistics-heading {
    text-align: center; 
    margin-top: 20px; 
    font-family: 'Courier New', Courier, monospace; 
    color: #673147; 
    font-weight: bold;
}

.statistics-container {
    margin-top: 30px; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto;
    font-family: Free Mono, monospace;
    color: #673147;
}

#sub_heading {
    font-size: 18px;
}

#modelSelect {
    width: 200px; 
    display: inline-block;
}

.charts-container {
    margin-top: 40px; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto;
}

#chart_heading {
    text-align: center;
}

#history_heading {
    text-align: center; 
    margin-top: 20px; 
    font-family: 'Courier New', Courier, monospace; 
    color: #673147; 
    font-weight: bold;
}

.history-container {
    margin-top: 30px; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto;
    font-family: Free Mono, monospace;
    color: #673147;
}